<h1>Playlist</h1>

<%= erb :"songs/index" %>

<hr/>
<h1>Api</h1>
<ul>
  <li><a href="/api/v1/songs">/api/v1/songs</a></li>
  <li><a href="/api/v1/song/1">/api/v1/song/1</a></li>
  <li><a href="/api/v1/song/9999">/api/v1/song/9999 (error handling)</a></li>
</ul>