<h1>Playlist</h1>
<ul id="playlist-songs">
  <% @songs.each do |song| %>
      <li><a href="/song/<%= song.id %>"><%= song.title %></a> by <%= song.artist %></li>
  <% end %>
</ul>


<h1>Add New Song with Ajax</h1>

<form id="song-form-new-ajax" action="/songs/new" method="post" class="song-form">
  <div class="form_field">
    <label for="song_title">Title</label>
    <input type="text" id="song_title" name="song[title]" value="" class="clearable"/>

    <div id="song_title_error" class="validation_error"></div>
  </div>
  <div class="form_field">
    <label for="song_artist">Artist</label>
    <input type="text" id="song_artist" name="song[artist]" value="" class="clearable"/>

    <div id="song_artist_error" class="validation_error"></div>
  </div>
  <div class="form_buttons">
    <input type="submit">
  </div>
</form>

<script>
    $(document).ready(function () {

        function refreshPlaylist() {

            $container = $('#playlist-songs');

            var promise = $.ajax({
                type: "GET",
                url: '/api/v1/songs',
                dataType: 'json'
            });

            promise.done(function (data) {
                $container.html('');
                for (var i = 0; i < data.length; i++) {
                    var song = data[i];
                    console.log(song);
                    var $li = $('<li><a href="/song/' + song['id'] + '">' + song['title'] + '</a> by ' + song['artist'] + '</li>');
                    $container.append($li);
                }
            });
            promise.fail(function (data) {
                debugger;
                console.log(data);
            });
        }


        $('#song-form-new-ajax').submit(function (event) {
            $form = $(this);
            event.preventDefault();
            var promise = $.ajax({
                type: "POST",
                url: '/api/v1/songs/new',
                dataType: 'json',
                data: $form.serialize() // serializes the form's elements.
            });

            promise.done(function (data) {
                console.log(data); // show response from the php script.
                $form.find('input.clearable').val('');
                refreshPlaylist();
            });
            promise.fail(function (data) {
                var errors = data.responseJSON.errors;
                console.log(errors); // show response from the php script.
                $form.find('.validation_error').text('');
                for (var prop in errors) {
                    if (errors.hasOwnProperty(prop)) {
                        var message = errors[prop][0];
                        $form.find("#song_" + prop + "_error").text(message);
                    }
                }
            });

        });
    });
</script>