<h1>Playlist</h1>


<h1>Add New Song with Ajax</h1>

<form id="song-form-new-ajax" action="/songs/new" method="post" class="song-form">
  <div class="form_field">
    <label for="song_title">Title</label>
    <input type="text" id="song_title" name="song[title]" value="" class="clearable"/>

    <div id="song_title_error" class="validation_error"></div>
  </div>
  <div class="form_field">
    <label for="song_artist">Artist</label>
    <input type="text" id="song_artist" name="song[artist]" value="" class="clearable"/>

    <div id="song_artist_error" class="validation_error"></div>
  </div>

  <div class="form_buttons">
    <input type="submit">
    <input type="button" class="reset" value="Reset"/>
    <input type="button" class="delete" value="Delete"/>
  </div>
</form>

<ul id="playlist-songs">
</ul>
<script type="text/javascript" src="/playlist_models.js"></script>
<script type="text/javascript" src="/playlist_views.js"></script>
<script>
    $(document).ready(function () {
        var dataPreload = <%= @songs.to_json %>;

        var playlistModel = new playlists.PlaylistModel();
        var playlistView = new playlists.PlaylistView($('#playlist-songs'));

        playlistModel.subscribe(function (playlist) {
            playlistView.refresh(playlist)
        });

        // Render with the preload
        playlistModel.load(dataPreload);

        var songFormView = new playlists.SongFormView($('#song-form-new-ajax'));


        //Install view callbacks

        songFormView.onAdd(function (formView) {
            playlistModel.addNewSong({
                data: formView.formData(),
                success: formView.clearForm,
                errors: formView.updateErrors
            });
        });

        songFormView.onEdit(function (formView) {
            playlistModel.editSong(formView.currentEditingId(), {
                data: formView.formData(),
                success: formView.clearForm,
                errors: formView.updateErrors
            });
        });

        songFormView.onDelete(function (formView) {
            playlistModel.deleteSong(formView.currentEditingId(), {
                success: formView.clearForm,
                errors: formView.updateErrors
            });
        });


        playlistView.onSongClick(function (song_id) {
            songFormView.setupEdit(song_id, playlistModel);
        });


    });
</script>